@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pulseGreen: #16a34a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pulseGreen: var(--pulseGreen);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
